
body {
  background-color: #FFFFFF;
  margin: 0; /* ensures that page takes up entire browser window */
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  width: 100px;
  height: 100px;
  padding: 30px 16px
  text-decoration: none;
}

li a:hover {
  color: red;
}

div.wasatch{ /* the letter O. track 2. */
  background-color: #FFFFFF;
  height: 1000px;
  width: max-width;
  padding: 1px;
}

div.sunset{ /* should replace with own image eventually */
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/03/62/70/036270a00af799b8fa9b0a299ebe97f8.jpg);
  height: 1000px;
  width: max-width;
  padding: 1px;
}

/* title header */
h1 {
  text-align: center;
  color: black;
  font-family: calibri;
}

/* first paragraphs */
p {
  text-align: center;
  color: black;
  font-family: calibri;
  font-size: 120%;
}
