:root{
  --base: #FFFFFF;
  --maintext: #000000;
}

html {
  height: 100%;
}

body {
  background-color: var(--base);
  height: 100%;
  margin: 0; /* ensures that page takes up entire browser window */
}

button {
  line-height: 60px;
  font-weight: bold;
  border: none;
  font-family: 'Martel', serif;
  font-size: 30px;
  color: var(--maintext);
  background-color: transparent;
  outline: none;
  position: absolute;
  top: -4px;
  left: 0px;
  margin-top: 0px;
  margin-left: 10px;
  padding: 0px 0px 0px 0px;
}

button:hover {
  color: red;
}

button:visited{
  color: var(--maintext);
}
/*
button:hover {
  background: black;
  color: white;
}
*/

ul{
  list-style-type: none;
  margin-top: 0;
  margin-left: 40px;
  padding: 0;
  position: absolute;
  top: 45px;
  left: 330px;
}

li {
  float: left;
  padding: 0px 0px 0px 0px;
  margin-left: 80px;
  height: 40px;
}

li a {
  width: 100px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-family: 'Martel', serif;
  font-size: 30px;
  color: var(--maintext);
}

li a:hover {
  color: red;
}

li a:visited{
  color: var(--maintext);
}

div.wasatch{ /* the letter O. track 2. */
  /* background-color: #FFFFFF; */
  height: 100%;
  width: max-width;
  padding: 1px;
}

div.boxes{
  height: 130px;
  width: max-width;
  padding: 1px;
}

div.sunset{ /* should replace with own image eventually */
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/03/62/70/036270a00af799b8fa9b0a299ebe97f8.jpg);
  height: 1000px;
  width: max-width;
  padding: 1px;
}

#bluCanvas{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* title header */
h1 {
  text-align: left;
  color: var(--maintext);
  font-family: 'Pattaya', sans-serif;
  font-size: 47px;
  position: relative;
  margin-right: 0px;
  width: 275px;
  left: 45px;
  top: 0px;
}

h2 {
  text-align: center;
  color: var(--maintext);
  font-family: 'Martel', serif;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  z-index: 1;
}

/* first paragraphs */
p {
  text-align: center;
  color: red;
  font-family: calibri;
  font-size: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5%
  z-index: 1;
}
