
html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  height: 100%;
  margin: 0; /* ensures that page takes up entire browser window */
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 350px;
}

li {
  float: left;
  width: 100px;
  margin-left: 30px;
  padding: 0px 0px 0px 0px;
  text-align: left;
}

li a {
  width: 100px;
  height: 100px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-family: 'Martel', serif;
  font-size: 27px;
  font-weight: bold;
  color: black;
}

li a:hover {
  color: red;
}

li a:visited{
  color: black;
}

div.wasatch{ /* the letter O. track 2. */
  /* background-color: #FFFFFF; */
  height: 100%;
  width: max-width;
  padding: 1px;
}

div.boxes{
  height: 130px;
  width: max-width;
  padding: 1px;
}

div.sunset{ /* should replace with own image eventually */
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/03/62/70/036270a00af799b8fa9b0a299ebe97f8.jpg);
  height: 1000px;
  width: max-width;
  padding: 1px;
}

#bluCanvas{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* title header */
h1 {
  text-align: left;
  color: black;
  font-family: 'Pattaya', sans-serif;
  font-size: 47px;
  position: relative;
  margin-right: 0px;
  width: 275px;
  left: 45px;
  top: 0px;
}

h2 {
  text-align: center;
  color: black;
  font-family: 'Martel', serif;
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  z-index: 1;
}

/* first paragraphs */
p {
  text-align: center;
  color: red;
  font-family: calibri;
  font-size: 120%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5%
  z-index: 1;
}
